# Dependencies
node_modules/

# Environment
.env
*.env
cypress.env.json

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp

